* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "norse-bold";
    src: url("fonts/norse-bold-webfont.woff2");
}

:root {
    --left-width: 30%;
    --white-text: #FFF;
    --default-pad: 24px;
}

.left {
    position: relative;
    width: var(--left-width);
    height: 100vh;
    background-image: url("./bg.jpg");
    background-size: cover;
    color: var(--white-text);
}

img {
    width: 150px;
    height: auto;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    padding: var(--default-pad);
    background-color: rgba(0, 0, 0, .5);
    flex-wrap: wrap;
}

.banner h1 {
    font-family: norse-bold;
    font-size: 10rem;
}

.credit {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: var(--default-pad);
}

.left p {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.left a:link,
.left a:visited {
    color: var(--white-text);
}
